<div class="forgot-password-container">
  <h2>Forgot Password</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm" class="forgot-password-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput formControlName="newPassword" type="password" required />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">Update Password</button>
    <div *ngIf="message" class="success-message">{{ message }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>
